<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

<servlet>
  <servlet-name>home</servlet-name>
  <servlet-class>com.java.servlets.HomePageServlet</servlet-class>
</servlet>
  <servlet>
    <servlet-name>about_us</servlet-name>
    <servlet-class>com.java.servlets.AboutUsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ServletLifeCycle</servlet-name>
    <servlet-class>com.java.servlets.ServletLifeCycle</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.java.servlets.EmployeeServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>about_us</servlet-name>
    <url-pattern>/about-us</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletLifeCycle</servlet-name>
    <url-pattern>/servlet-life-cycle</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>applicationFilter</filter-name>
    <filter-class>com.java.filters.ApplicationRequestFilter</filter-class>
  </filter>

  <filter>
    <filter-name>homepageFilter</filter-name>
    <filter-class>com.java.filters.HomePageRequestFilter</filter-class>
  </filter>

  <filter>
    <filter-name>about_usFilter</filter-name>
    <filter-class>com.java.filters.AboutUsRequestFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>homepageFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>about_usFilter</filter-name>
    <url-pattern>/about-us</url-pattern>
  </filter-mapping>


  <filter-mapping>
    <filter-name>applicationFilter</filter-name>
    <url-pattern>/*</url-pattern>  // for every request
  </filter-mapping>

  <listener>
    <listener-class>com.java.listeners.AppContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.java.listeners.RequestContextListener</listener-class>
  </listener>

</web-app>
